/* body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1pixel bottom border and padding all the way around of 16 pixels */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #003530;
    margin: 0;
    color: #9FC131;
}

header {
    background-color: #D6D58E;
    width: 100%;
    margin: auto;
    border: 15px;
    padding: 15px;
    border-bottom: 4px solid black;
}

img {
    height: 200px;
}

a {
    text-decoration: None;
    font-size: 20px;
}

a:visited {
    color: #368f9d;
}

a:hover {
    color: rgb(163, 94, 105);
}

a:link {
    color: lightpink;
}

main {
    width: 100%;
    margin-left: 25px;
}

table, td, th {
    border: 2px solid black;
}

tr:nth-child(even) {
    background-color: #005C53;
}

th {
    text-align: left;
    background-color: #005C53;
}

.centered {
    width: 40%;
}

footer {
    position: sticky;
    color: black;
    background-color: #D6D58E;
    text-align: center;
    width: 100%;
    bottom: 0;
    margin: auto;
    border: 15px;
    padding: 15px;
    border: 2px solid black;
}

.boxed {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.border {
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}

.border > * {
    margin: 5px;
    margin-left: 10px;
}
